<a href="https://colab.research.google.com/github/Kiongo-Bob/LUX/blob/main/Lux_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Import dependencies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
#Read the CSV file on which to perform EDA
data = pd.read_csv("/IT Salary Survey EU 2018.csv")

In [7]:
#Display the first row
print(data.head())

             Timestamp   Age Gender     City                       Position  \
0  14/12/2018 12:41:33  43.0      M  München                   QA Ingenieur
1  14/12/2018 12:42:09  33.0      F  München  Senior PHP Magento developer
2  14/12/2018 12:47:36  32.0      M  München              Software Engineer
3  14/12/2018 12:50:15  25.0      M  München      Senior Frontend Developer
4  14/12/2018 12:50:31  39.0      M  München                    UX Designer

   Years of experience Your level  Current Salary  Salary one year ago  \
0                 11.0     Senior         77000.0              76200.0
1                  8.0     Senior         65000.0              55000.0
2                 10.0     Senior         88000.0              73000.0
3                  6.0     Senior         78000.0              55000.0
4                 10.0     Senior         69000.0              60000.0

   Salary two years ago Are you getting any Stock Options?  \
0               68000.0                                 No
1               55000.0                                 No
2               54000.0                                 No
3               45000.0                                Yes
4               52000.0                                 No

  Main language at work Company size   Company type
0               Deutsch     100-1000        Product
1               Deutsch       50-100        Product
2               Deutsch        1000+        Product
3               English        1000+        Product
4               English     100-1000  Ecom retailer

In [8]:
#Show duplicate employees
print(data.duplicated())

0      False
1      False
2      False
3      False
4      False
       ...
760    False
761    False
762    False
763    False
764    False
Length: 765, dtype: bool

In [9]:
#Getting number of rows and colums of data
data_shape = (data.shape)
rows = data_shape[0]
columns = data.shape[1]
print(f"There are {rows} rows and {columns} columns.")

There are 765 rows and 14 columns.

In [10]:
print(data.info)

<bound method DataFrame.info of                Timestamp   Age Gender     City                       Position  \
0    14/12/2018 12:41:33  43.0      M  München                   QA Ingenieur
1    14/12/2018 12:42:09  33.0      F  München  Senior PHP Magento developer
2    14/12/2018 12:47:36  32.0      M  München              Software Engineer
3    14/12/2018 12:50:15  25.0      M  München      Senior Frontend Developer
4    14/12/2018 12:50:31  39.0      M  München                    UX Designer
..                   ...   ...    ...      ...                            ...
760  03/06/2020 20:12:51  40.0      M     Köln          Java Developer junior
761  28/07/2020 04:03:13   NaN      M     Köln              E.g. C# Developer
762  28/07/2020 04:03:20   NaN      M     Köln              E.g. C# Developer
763  26/08/2020 09:06:44   NaN    NaN      NaN                            NaN
764  21/09/2020 01:47:10  31.0      F  München                            Pm

     Years of experience Your level  Current Salary  Salary one year ago  \
0                   11.0     Senior         77000.0              76200.0
1                    8.0     Senior         65000.0              55000.0
2                   10.0     Senior         88000.0              73000.0
3                    6.0     Senior         78000.0              55000.0
4                   10.0     Senior         69000.0              60000.0
..                   ...        ...             ...                  ...
760                  1.0     Junior         44000.0              40000.0
761                  1.0     Junior         45000.0              40000.0
762                  1.0     Junior         45000.0              40000.0
763                  NaN        NaN             NaN                  NaN
764                 10.0     Senior        110000.0                  NaN

     Salary two years ago Are you getting any Stock Options?  \
0                 68000.0                                 No
1                 55000.0                                 No
2                 54000.0                                 No
3                 45000.0                                Yes
4                 52000.0                                 No
..                    ...                                ...
760               40000.0                                Yes
761               40000.0                                Yes
762               40000.0                                Yes
763                   NaN                                NaN
764                   NaN                                 No

    Main language at work Company size   Company type
0                 Deutsch     100-1000        Product
1                 Deutsch       50-100        Product
2                 Deutsch        1000+        Product
3                 English        1000+        Product
4                 English     100-1000  Ecom retailer
..                    ...          ...            ...
760               Deutsch        10-50        Product
761               Deutsch        10-50        Product
762               Deutsch        10-50        Product
763                   NaN          NaN            NaN
764               English        1000+        Product

[765 rows x 14 columns]>

In [11]:
data.describe

<bound method NDFrame.describe of                Timestamp   Age Gender     City                       Position  \
0    14/12/2018 12:41:33  43.0      M  München                   QA Ingenieur
1    14/12/2018 12:42:09  33.0      F  München  Senior PHP Magento developer
2    14/12/2018 12:47:36  32.0      M  München              Software Engineer
3    14/12/2018 12:50:15  25.0      M  München      Senior Frontend Developer
4    14/12/2018 12:50:31  39.0      M  München                    UX Designer
..                   ...   ...    ...      ...                            ...
760  03/06/2020 20:12:51  40.0      M     Köln          Java Developer junior
761  28/07/2020 04:03:13   NaN      M     Köln              E.g. C# Developer
762  28/07/2020 04:03:20   NaN      M     Köln              E.g. C# Developer
763  26/08/2020 09:06:44   NaN    NaN      NaN                            NaN
764  21/09/2020 01:47:10  31.0      F  München                            Pm

     Years of experience Your level  Current Salary  Salary one year ago  \
0                   11.0     Senior         77000.0              76200.0
1                    8.0     Senior         65000.0              55000.0
2                   10.0     Senior         88000.0              73000.0
3                    6.0     Senior         78000.0              55000.0
4                   10.0     Senior         69000.0              60000.0
..                   ...        ...             ...                  ...
760                  1.0     Junior         44000.0              40000.0
761                  1.0     Junior         45000.0              40000.0
762                  1.0     Junior         45000.0              40000.0
763                  NaN        NaN             NaN                  NaN
764                 10.0     Senior        110000.0                  NaN

     Salary two years ago Are you getting any Stock Options?  \
0                 68000.0                                 No
1                 55000.0                                 No
2                 54000.0                                 No
3                 45000.0                                Yes
4                 52000.0                                 No
..                    ...                                ...
760               40000.0                                Yes
761               40000.0                                Yes
762               40000.0                                Yes
763                   NaN                                NaN
764                   NaN                                 No

    Main language at work Company size   Company type
0                 Deutsch     100-1000        Product
1                 Deutsch       50-100        Product
2                 Deutsch        1000+        Product
3                 English        1000+        Product
4                 English     100-1000  Ecom retailer
..                    ...          ...            ...
760               Deutsch        10-50        Product
761               Deutsch        10-50        Product
762               Deutsch        10-50        Product
763                   NaN          NaN            NaN
764               English        1000+        Product

[765 rows x 14 columns]>

In [14]:
mean_salary = data["Current Salary"].mean()
rounded_mean_salary = round(mean_salary, 2)
print(f"The average salary is {rounded_mean_salary}.")

The average salary is 68381.77.